.project {
    width: 100%;
    margin: var(--space-1) 0 var(--space-4);
  }
  
  .project__cover,
  .project__cover--none {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .project__container {
    padding: 0 var(--space-3);
  }
  
  .project__content {
    font-size: var(--font-size-4);
    line-height: var(--line-height-5);
    letter-spacing: -0.02em;
    margin-top: var(--space-6);
  
    /* Targeting tags in PortableText */
  }
  
  .project__content blockquote {
    border-left: 5px solid var(--black);
    padding-left: var(--space-3);
    margin-left: var(--space-4);
  }
  
  .project__content a {
    color: var(--blue-600);
    text-decoration: none;
  }
  
  .project__title {
    font-size: var(--font-size-7);
    line-height: var(--line-height-6);
    margin: var(--space-4) 0;
    font-weight: 800;
  }
  
  .project__excerpt {
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);
    margin-top: 0;
    font-weight: 400;
  }
  
  @media (min-width: 800px) {
    .project__title {
      font-size: var(--font-size-10);
      line-height: var(--line-height-10);
      margin: var(--space-6) 0 0;
      letter-spacing: -0.025em;
    }
  
    .project__excerpt {
      font-size: var(--font-size-5);
      line-height: var(--line-height-5);
      margin-top: var(--space-3);
      margin-bottom: var(--space-3);
    }
  
    .project__date {
      font-size: var(--font-size-3);
      line-height: var(--line-height-2);
      margin-top: var(--space-0);
    }
  
    .project__content {
      margin-top: var(--space-7);
    }
  }