.intro{
    font-size: 1.5rem;
    line-height: 1.875rem; /* 125% */
    font-style: normal;
    font-weight: 450;
    margin-top: var(--space-4);
}

.header__title{
    display: none;
}

@media (min-width: 800px) {
    .intro{
        font-size: 2.375rem;
        line-height: 2.5rem; 
        max-width: 60rem;
    }

    .header__title{
        display: block;
        font-size: 15.5vw;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        text-align: center;
        position: relative;
        z-index: -1;
    }
}