.intro{
    font-size: 1.8rem;
    line-height: 2rem;
    font-style: normal;
    font-weight: 400;
    max-width: 60rem;
}

.header__title{
    display: block;
    font-size: 15vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    position: relative;
    z-index: -1;
}

@media (min-width: 800px) {
    .intro{
        font-size: 2.375rem;
        line-height: 2.5rem; 
    }
    
    .header__title{
        font-size: 16vw;
    }
}