.header__title{
    font-size: 14.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--black);
}

.header__nav{
    padding: .5rem 1rem;
    background-color: var(--primary-color);
}

.header__nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.header__nav li{
    background-color: var(--white);
    border-radius: 2rem;
    padding: .5rem 1rem;
}

.header__nav a{
    color: var(--black);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}