.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    isolation: isolate;
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-3);
}

.header__nav{
    display: none;
    list-style: none;
    gap: 2rem;

}

.header__nav__open{
    position: fixed;
    inset: 0;
    background-color: var(--primary-color);
    z-index: -1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header__nav a{
    color: var(--black);
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.header__toggle,
.header__toggle .hamburger-react,
.header__toggle div:focus-visible{
    outline: 0;
}

.header__title{
    font-size: 12vw;
    font-style: normal;
    font-weight: 300;
    line-height: .8em;
    color: var(--black);
}

/* MOBILE ONLY  */
@media (max-width: 800px){
    .header__title{
        transform: translateX(0)!important;
        opacity: 1!important;
        filter: none!important;
    }
}

@media (min-width: 800px){
    .header__title{
        font-size: 4.875rem;
        position: absolute;
        left: 50%;
        bottom: .25rem;
        transform: translateX(-50%);
    }

    .header__title__home{
        transform: translateX(-50%) translateY(-200%);
    }

    .header__toggle{
        display: none;
    }

    .header__nav{
        display: flex;
        width: 100%;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
    }

    .header__nav a{
        font-size: 1.125rem;
        text-transform: uppercase;
    }
    
    .header__nav a:hover{
        background-color: var(--black);
        color: var(--primary-color);
    }

    .header__pill{
        background-color: var(--white);
        border-radius: 2rem;
        padding: .5rem 1rem;
        text-transform: uppercase;
    }

    .header__nav  a.active{
        background-color: var(--black);
        color: var(--primary-color);
        cursor: default;
        text-decoration: none;
    }

    .header__pill:nth-child(3){
        display: none;
    }
}